.subtitle{
  font-size: 16px;
}

.authors{
  font-size: 16px;
  font-weight: bold;
}

.card {
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1; /* Stellt sicher, dass jede Karte gleich wächst */
    border-color: rgb(207, 207, 207) !important;
    /* margin-top: 10px;
    max-width: 34;
    margin-top: 10px; */
}

.card .MuiCardContent-root{
    flex-grow: 1; /* Stellt sicher, dass der Textbereich den restlichen Platz einnimmt */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Macht sicher, dass der Button immer am unteren Rand bleibt */
}

.card img{
    object-fit: cover;
    height: 200px; /* Hier kannst du die Höhe des Bildes anpassen */
}

.read-more-button{
    /* Button */
    border-radius: 10px;
    border-color: #5fe9e0;
    padding: 1rem;
    background-color: #5fe9e0;
    text-align: center;
    margin: 0 35px 10px;
    width: 70%;
}

.no-books-found{
  padding-left: 20px;
}

@media (max-width: 650px) {
    .card {
      flex-direction: column;
      margin-left: 20%;
    }
  
    .read-more-button {
      width: 80%; /* Auf mobilen Geräten den Button breiter machen */
      margin: 5px 10% 10px;
      text-align: center;
    }
  
    .card img {
      height: 150px; /* Bildhöhe für mobile Geräte anpassen */
    }
  }
  
  /* Desktop Anpassungen */
  @media (min-width: 1200px) {
    .card {
      max-width: 350px; /* Maximalbreite für Desktop */
    }
  }

/* .clamped{
    height: 70%;
} */

/* .clamped{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
} */

/* @media(max-width: 650px) {
    .grid-container{
        justify-content: center;
        align-items: center;
      }
  } */