body{
    margin: auto;
}

.book-image{
    margin: 25px 25px;
    width: 200px;
}

hr{
    width: 95%;
    display:block;
    margin:30px auto;
}

h2{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.titels{
    font-weight: bold;
}

.top-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-information , .description-text {
    text-align: center;
}

.description-text{
    text-align: justify;
    margin: 0 10%;
}

.bottom-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    margin-bottom: 25px;
}

p{
    margin-bottom: 2px;
}

.back-button{
    background-color:transparent !important; 
    margin-top: 0.5rem;
    border: none;
    font-size: 2rem;
}


/* Auf mobile ist der strich kürzer */
@media (max-width:650px) {
    hr{
        width: 80%;
    }
}
