.bottom-navigation{
   position: fixed !important;
   bottom: 0 !important;
   width: 100%;
   height: 3.5rem;
}

.css-7ax0nd-MuiBottomNavigation-root{
   background-color: black !important;
}

.Mui-selected{
   color: #fff;
   /* color: #5fe9e0; */
}

.footer {
   width: 100%;
   display: flex;
   gap: 105px;
   justify-content: center;
   align-items: center;
   margin-top: auto;
   height: 3.5rem;
}

img{
 height:25%
}

.action-icon{
   color: #fff;
   /* color:#5fe9e0 */
}

@media(max-width: 650px) {
   .footer{
      display: none;
     }
}

@media (min-width:650px) {
  .bottom-navigation{
   display: none;
}
}