/* In App.css oder einer globalen CSS-Datei */
html, body {
  height: 100%;
  margin: 0;
  /* overflow-x: hidden; */
}

body {
  padding-bottom: 3.5rem;
}

.background-image{
  height: 100%;
  position: fixed;
  background-image: url(/src/assets/Background.png);
  /* background-image: url(/src/assets/Background_weichzeichner.png); */
  background-size: cover;
  background-position: center;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.website-container{
   margin: 0px 5px; 
   min-height: calc(100dvh - 60px - 3.5rem);
}

#header , #footer{
  width:100%;
  max-width: 100%;
}

.button {
  margin: 5px;
  padding: 50px;
}

@media(max-width: 650px) {
  .website-container{
    padding-bottom: 3.5rem;
    }
}