/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

:root {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.button {
  /* background-color: #d0fbf6 !important; */
  background-color: #5fe9e0 !important;
  color: #000000 !important;

}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-weigth can be changed / choosen by me */
}